.svgDiv {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

span {
    /* position: absolute;
    top: 40%; */
    max-height: 50px;
    background-color: 'white';
    border-radius: 50%;
    opacity: 0.2;
    padding: 50px 10px;
}

span:first-child {
    left: 36%;
}

span:hover {
    opacity: 1;
}

rect {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}