/* button {
    background-color: 'white';
    border-radius: 50%;
    opacity: 0.4;
}

@keyframes mymove {
    50% {
        box-shadow: 3px 2px 0px 3px #b4b4b4;
    }
}

button:hover {
    opacity: 0.8;
    /* animation: mymove 0.4s step-end; */
/* } */

.svgDiv {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

span {
    /* position: absolute;
    top: 40%; */
    max-height: 50px;
    background-color: 'white';
    border-radius: 50%;
    opacity: 0.2;
    padding: 50px 30px;
}

span:first-child {
    left: 36%;
}

span:hover {
    opacity: 1;
}

rect {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}